{% extends "ActivityGroup/activitygroup_base.html" %}
{% block title %}{{ sTitle }}{% endblock %}
{% block content %}
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
    pre {
        white-space: pre-wrap; /* css-3 */
        word-wrap: break-word;
        font-size: 13px;
        background-color: transparent;
        border: none;
    }

    p {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
        margin: 0px;
    }

    a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    a:hover {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    #group_detail {
        position: fixed;
        top: 10%;
        left: 15%;
    }

    #subtitle {
        position: fixed;
        top: 35%;
        left: 14.5%;
        width: 33%;
        height: 61%;
        background-color: rgb(241, 241, 241);
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
    }

    #subtitle>li {
        position: absolute;
        list-style: none;
        font-size: 15px;
        font-weight: bold;
    }

    #threeMlist {
        position: fixed;
        top: 36%;
        left: 50%;
        width: 33%;
        height: 62.5%;
        overflow: scroll;
    }

    #threeMlist::-webkit-scrollbar {
        display: none;
    }

    #sub_des {
        position: absolute;
        top: 5%;
        left: 0%;
        font-size: 12px;
    }

    #threeM {
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 15%;
        width: 97%;
        height: 82%;
        overflow: scroll;
    }

    #threeM::-webkit-scrollbar {
        display: none;
    }

    #content {
        position: relative;
        left: 0.3%;
        width: 97%;
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
        margin: 5px;
        font-size: 15px;
    }

    #threeMselect_1 {
        position: absolute;
        right: 2%;
        top: 2%;
    }

    #threeMselect_2 {
        position: fixed;
        left: 69%;
        top: 32%;
    }

    #addsubtitle {
        position: fixed;
        left: 21%;
        top: 33%;
        width: 20%;
        height: 20%;
        background-color: white;
        padding: 5px;
        box-shadow: 1px 0px 3px 3px #cccccc;
        display: none;
    }

    #addthreeM {
        position: fixed;
        left: 58.6%;
        top: 33%;
        width: 30%;
        height: 45%;
        background-color: white;
        padding: 5px;
        box-shadow: 1px 0px 3px 3px #cccccc;
        display: none;
    }

    #error {
        position: fixed;
        left: 40%;
        top: 0%;
        background-color: white;
        padding: 5px;
        box-shadow: 1px 0px 3px 3px #cccccc;
    }

    .selected {
        position: fixed;
        right: 85%;
        top: 35%;
        height: 60%;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-align: right;
        overflow: scroll;
    }

    .selected::-webkit-scrollbar {
        display: none;
    }

    .selected>li {
        padding: 0px 5px;
        margin: 7px;
        list-style-type: none;
        color: rgb(80, 80, 80);
        cursor: pointer;
    }

    .selected>li:hover {
        background-color: rgb(216, 216, 216, 0.6);
    }

    .subbt {
        font-weight: bold;
        background-color: rgb(216, 216, 216, 0.6);
    }

    #editsubtitle {
        position: fixed;
        left: 22.5%;
        top: 33%;
        width: auto;
        height: 40%;
        background-color: white;
        padding: 5px;
        box-shadow: 1px 0px 3px 3px #cccccc;
        overflow: scroll;
        display: none;
    }

    #editsubtitle::-webkit-scrollbar {
        display: none;
    }

    .button {
        padding: 2px 5px;
        background: none;
        border: 0 none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover {
        color: teal;
    }
</style>

<script>
    function addsubtitle() {
        var addsubtitle;
        addsubtitle = document.getElementById('addsubtitle');
        addsubtitle.style.display = 'block';
    }
    function addthreeM() {
        var addthreeM;
        addthreeM = document.getElementById('addthreeM');
        addthreeM.style.display = 'block';
    }
    function editsubtitle() {
        var editsubtitle;
        editsubtitle = document.getElementById('editsubtitle');
        editsubtitle.style.display = 'block';
    }
    function closeeditsubtitle() {
        var editsubtitle;
        editsubtitle = document.getElementById('editsubtitle');
        editsubtitle.style.display = 'none';
    }
    function closesubtitle() {
        var addsubtitle;
        addsubtitle = document.getElementById('addsubtitle');
        addsubtitle.style.display = 'none';
    }
    function closethreeM() {
        var addthreeM;
        addthreeM = document.getElementById('addthreeM');
        addthreeM.style.display = 'none';
    }
</script>

<div id="group_detail">
    <b style="font-size: 25px;">{{ group.sGroupTitle }}</b>
    <p style="font-size: 12px;">{{ group.createdTime }}</p>
    <pre style="font-size: 13px;margin-top: 0px;padding-top: 0px;">{{ group.sDescription }}</pre>
    <p style="font-weight: bold;position:fixed;left: 15%;top: 31%;">討論主題</p>
    <p style="position:fixed;left: 20.5%;top: 31%;cursor: pointer;" onclick="addsubtitle();">✚</p>
    {% if subtitleList or closesubtitleList %}
    <p style="position:fixed;left: 22%;top: 30.5%;cursor: pointer;" onclick="editsubtitle();">...</p>
    {% endif %}
    <p style="font-weight: bold;position:fixed;left: 50%;top: 31%;">便利貼黏貼處</p>
    <p style="position:fixed;left: 58.1%;top: 31%;cursor: pointer;" onclick="addthreeM();">✚</p>
</div>

<div class="selected">
    {% for subtitle in subtitleList %}
    <li {% if sSubtitle == subtitle.sSubtitle %}class="subbt" {% endif %}>
        <a
            href="/activitygroup/isPublished={{isPublished }}/{{ sGroupTitle }}/discuss/{{subtitle.sSubtitle}}">{{subtitle.sSubtitle}}</a>
    </li>
    {% endfor %}
</div>

<div id="subtitle">
    <li> {{uuidOfGroupSubtitle}} </li>
    <div id="sub_des">
        {% if uuidOfGroupSubtitle.sDescription %}
        <pre> 描述:{{uuidOfGroupSubtitle.sDescription}} </pre>
        {% endif %}
    </div>

    <form method="POST" action="/activitygroup/isPublished={{isPublished }}/{{ sGroupTitle }}/discuss/{{sSubtitle}}">
        {% csrf_token %}
        <div id="threeM">
            {% for threeM in threeMList %}
            <div id="content">
                <input type="checkbox" name="checkedThreeM" value="{{threeM.sContent}}" style="position: relative;left: 5px;">
                <pre>{{threeM.sContent}}</pre>
                <br>
                <p style="position: absolute;right: 5%;bottom: 0%;font-size: 13px;">by
                    {{threeM.whoLeft.get_full_name}}</p>
            </div>
            {% endfor %}
        </div>
        {% if subtitleList %}
        <div id="threeMselect_1">
            <select name="toSubtitle">
                <option value="">----</option>
                <option value="sendBack">**送回黏貼處**</option>
                {% for subtitle in subtitleList %}
                <option value="{{subtitle}}">{{subtitle.sSubtitle}}</option>
                {% endfor %}
            </select>
            <input type="submit" style="padding:2px 7px; background:#ccc; border:0 none;-webkit-border-radius: 5px;border-radius: 5px;cursor: pointer;">
        </div>
        {% endif %}
    </form>
</div>


<div id="threeMlist">

    <form method="POST" action="/activitygroup/isPublished={{isPublished }}/{{ sGroupTitle }}/discuss/{{sSubtitle}}">
        {% csrf_token %}
        {% for threeM in UnclassifiedthreeMList %}
        <div id="content">
            <input type="checkbox" name="checkedThreeM" value="{{threeM.sContent}}" style="position: relative;left: 5px;">
            <pre>{{threeM.sContent}}</pre>
            <br>
            <p style="position: absolute;right: 5%;bottom: 0%;font-size: 13px;">by
                {{threeM.whoLeft.get_full_name}}</p>
        </div>
        {% endfor %}
        {% if UnclassifiedthreeMList %}
        <div id="threeMselect_2">
            <select name="toSubtitle">
                <option value="">----</option>
                {% for subtitle in subtitleList %}
                <option value="{{subtitle}}">{{subtitle.sSubtitle}}</option>
                {% endfor %}
                <option value="delete">**刪除便利貼**</option>
            </select>
            <input type="submit" style="padding:2px 7px; background:#ccc; border:0 none;-webkit-border-radius: 5px;border-radius: 5px;cursor: pointer;">
        </div>
        {% endif %}
    </form>

</div>


<div id="addsubtitle">
    <form class="add subtitle"
        action="/activitygroup/isPublished={{isPublished }}/{{ sGroupTitle }}/discuss/{{sSubtitle}}" method="POST">
        {% csrf_token %}
        <p style="font-weight: bold;position:absolute;left: 5%;top: -5%;">新增子主題</p>
        <div class="form-group" style="position:absolute;right: 5%;top: 30%;font-size: 13px;">
            {{ editSubtitleform.sSubtitle.label_tag }}
            {{ editSubtitleform.sSubtitle }}
        </div>
        <div class="form-group" style="position:absolute;right: 5%;top: 55%;font-size: 13px;">
            {{ editSubtitleform.sDescription.label_tag }}
            {{ editSubtitleform.sDescription }}
        </div>
        <button type="submit"
            style="padding:2px 7px; background:#ccc; border:0 none;-webkit-border-radius: 5px;border-radius: 5px;position:absolute;bottom:3%;right:2%;cursor: pointer;"
            onclick="closesubtitle();">送出</button>
    </form>
    <div style="position:absolute;top:2%;right:2%;cursor:pointer;" onclick="closesubtitle();">✘</div>
</div>

<div id="addthreeM">
    <form class="threeMpaste"
        action="/activitygroup/isPublished={{isPublished }}/{{ sGroupTitle }}/discuss/{{sSubtitle}}" method="POST">
        {% csrf_token %}
        <p style="font-weight: bold;position:absolute;left: 5%;top: 5%;">撰寫便利貼</p>
        <div class="form-group" style="position:absolute;left: 5%;top: 17%;font-size: 13px;">
            {{ editThreeMform.sThreeMContent }}
        </div>
        <button type="submit"
            style="padding:2px 7px; background:#ccc; border:0 none;-webkit-border-radius: 5px;border-radius: 5px;position:absolute;bottom:4%;right:2%;cursor: pointer;"
            onclick="closethreeM();">送出</button>
    </form>
    <div style="position:absolute;top:2%;right:2%;cursor:pointer;" onclick="closethreeM();">✘</div>
</div>

<div id="editsubtitle">
    <form action="/activitygroup/isPublished={{isPublished }}/{{ sGroupTitle }}/discuss/{{sSubtitle}}" method="POST">
        {% csrf_token %}
        <table style="margin-left: 20px;">
            <tr><td></td><td></td><td></td><td><div style="cursor:pointer;" onclick="closeeditsubtitle();">✘</div></td></tr>
            {% for subtitle in allsubtitle %}
            <tr>
                <td style="padding-right: 70px;"><p>{{ subtitle }}</p></td>
                <td style="padding-right: 10px;">{% if subtitle.bShowSubtitle == True %}
                    <button type="submit" name="closesubtitle" value="{{ subtitle }}" class="button"><span class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"></span></button>
                    {% else %}
                    <button type="submit" name="opensubtitle" value="{{ subtitle }}" class="button"><span class="glyphicon glyphicon-eye-close"
                            aria-hidden="true"></span></button>
                    {% endif %}</td>
                <td style="padding-right: 10px;">
                    <button type="submit" name="deletesubtitle" value="{{ subtitle }}" class="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% if error %}
<div id="error">{{error}}</div>
{% endif %}

{% endblock %}