{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<!-- 載入思源黑體 -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>{% block title %}{% endblock %}</TITLE>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
            color: #ffffff;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        a {
            text-decoration:none;
        }

        #bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("{% static 'activitygroup/img/活動群組/背景-01.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #logo {
            position: absolute;
            width: 6.2%;
            height: 15.3%;
            left: 1.785%;
            top: 3.45%;
            background-image: url("{% static 'article/img/論壇/LOGO.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #person {
            position: absolute;
            width: auto;
            height: 5.0666%;
            top: 3%;
            right: 15.5%;
        }

        #person span {
            position: relative;
            bottom: 30%;
            font-size: 12pt;
            color: #ffffff;
        }

        #person img {
            position: relative;
            width: 30px;
            height: 100%;
            border-radius: 50%;
            border: #ecd7ff 1.5px solid;
        }

        #activity_bt {
            position: absolute;
            top: 4.1%;
            right: 12%;
            width: 2.6%;
            height: 2.755555%;
            background-image: url("{% static 'activitygroup/img/活動群組/論壇ICON01.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #cv_bt {
            position: absolute;
            top: 3%;
            right: 8.5%;
            width: 2.6%;
            height: 5.06666%;
            background-image: url("{% static 'article/img/論壇/公開履歷.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #notice_bar {
            position: absolute;
            top: 2.6%;
            right: 1.2%;
            width: 18%;
            height: 92%;
            background-image: url("{% static 'article/img/論壇/通知/通知底.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;
        }

        #notice {
            position: absolute;
            top: 3.9%;
            right: 5%;
            width: 2.65%;
            height: 2.755555%;
            cursor: pointer;
        }

        #set_bar {
            position: absolute;
            top: 2.6%;
            right: 1.3%;
            width: 10%;
            height: 92%;
            background-image: url("{% static 'article/img/論壇/功能列/功能列底.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;
        }

        #set {
            position: absolute;
            top: 4%;
            right: 2%;
            width: 1.75%;
            height: 2.311111%;
            cursor: pointer;
        }

        .function_choice {
            position:relative;
            top: 9%;
            width: 100%;
            height: 27px;
        }

        .function_choice:hover {
            background-image: url("{% static 'article/img/論壇/功能列/功能列選單選定.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
        }

        .function_choice a, .function_choice span {
            position:absolute;
            right: 7%;
            font-size: 13pt;
            font-weight: 700;
            color: #ffffff;
        }
 
    </style>
    <script>
        var bar;
        function function_bar() {
            bar = document.getElementById("set_bar");
            if (bar.style.display == "block") {
                bar.style.display = "none";
            }
            else {
                bar.style.display = "block"
            }
        }
        function notice_bar() {
            bar = document.getElementById("notice_bar");
            if (bar.style.display == "block") {
                bar.style.display = "none";
            }
            else {
                bar.style.display = "block"
            }
        }
    </script>
</head>

<body>
    <div id="bg"></div>
    
    {% block content %}
    {% endblock %}
    
    <a href="/activitygroup/" id="logo"></a>

    <div id="person">
        <img src="{% if user.userinfo.imageAvatar %}{{user.userinfo.imageAvatar.url}}{% endif %}">
        <span>{{user.username}}</span>
    </div>
    
    <a href="/board/" id="activity_bt"></a>
    <a href="/cv/public" id="cv_bt"></a>
    
    <div id="notice_bar">
        <!-- 通知列尚未完成 -->
    </div>
    <img id="notice" src="{% static 'article/img/論壇/通知.png' %}" onclick="notice_bar();">
    
    <div id="set_bar">
        {%if user in userList%}
        <div class="function_choice"><a href="{% url 'user' %}">個人頁面</a></div>
        <div class="function_choice"><a href="/cv/">履歷管理</a></div>
        <div class="function_choice"><span>主題變色</span></div>
        <div class="function_choice"><span>音樂</span></div>
        <div class="function_choice"><a href="{% url 'logout' %}">登出</a></div>
        {%else%}
        <div class="function_choice"><a href="{% url 'login' %}">登入</a></div>
        {%endif%}
    </div>
    <img id="set" src="{% static 'article/img/論壇/功能列-02.png' %}" onclick="function_bar();">
    
</body>

<footer>

</footer>

</html>