{% extends "usercv/usercv_base.html" %}
{% block title %}{{username}}的履歷{% endblock %}
{% block content %}
{% load static %}
<style>
    #bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("{% static 'usercv/img/bg (1).jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

	#article {
        position: absolute;
        width: 60%;
        height: 88.7%;  
        top: 15%;
        left: 20%;
        margin-top: 2px;
        background-image: url("{% static 'article/img/文章內文/文章背景-02.png' %}");
        background-repeat: no-repeat;
        background-size: 102% 100%;
        background-position: -7px -6px;
        color: #ffffff;
        overflow-y: scroll;
    }

	#article::-webkit-scrollbar {
        display: none;
    }

	#cv_name {
		position: relative;
		top: 20px;
		left: 25px;
		font-size: 15pt;
		font-weight: 700;
		letter-spacing:1px;
	}

	.cv_title {
		position: relative;
		width: 92%;
        font-size: 13pt;
		font-weight: 700;
		top: 40px;
        left: 4%;
        letter-spacing:2px;
        color: #ffffff;
		display:block;
		border-bottom: white 1px solid;
		padding-bottom: 5px;
	}

	.item {
		position: relative;
		width: 92%;
		height: auto;
		top: 40px;
		left: 4%;
		border-bottom: rgba(255, 255, 255, 0.3) 1px dashed;
	}

	.cv_item {
		position: relative;
		width: 10%;
		height: 0px;
		top: 10px;
		font-size: 11pt;
		font-weight: 500;
		text-align: justify;
		white-space: pre-wrap;
        color: #ffffff;
		display:inline-block;
	}

	.cv_item:after { 
		content: " "; 
		display: inline-block; 
		width: 100%;
	}

	.cv_value {
		position: relative;
		width: 88%;
        left: 12%;
		bottom: 3px;
        font-size: 11pt;
		font-weight: 300;
        color: #ffffff;
		white-space:pre-wrap;
		margin: 15 0 5 0;
	}

	#set_cv {
		position: relative;
		top: 60px;
        left: 28%;
        width: 20%;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		outline: none;
		margin-bottom: 100px;
		cursor: pointer;
	}

	#output {
		position: relative;
		top: 60px;
        left: 32%;
        width: 20%;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		outline: none;
		margin-bottom: 100px;
		cursor: pointer;
	}

	#set_cv:hover, #output:hover{
		-webkit-transition:border linear .1s;
        -webkit-box-shadow:0 0 10px rgba(248, 255, 216, 0.25);
	}

	@media print {
		*{
    		-webkit-print-color-adjust: exact !important;
  		}
	}

</style>

<span id="board_name">{{username}}的履歷</span>

<div id="article">
	<span class="cv_title">個人資料</span>
	{% for key, value in data.items %}
	{% if value %}
	<div class="item">
	<div class="cv_item">{{key}} </div><pre class="cv_value">{{value}}</pre>
	</div>
	{% endif %}
	{% endfor %}
    <div style="position: relative;height: 100px;"></div>
</div>

<a href="/cv/public">
    <div id="close_bt"></div>
</a>


{% endblock %}