{% extends "usercv/usercv_base.html" %}
{% block title %}履歷總管{% endblock %}
{% block content %}
{% load static %}
<style>
	#article {
        position: absolute;
        width: 60%;
        height: 88.7%;  
        top: 15%;
        left: 20%;
        margin-top: 2px;
        background-image: url("{% static 'article/img/文章內文/文章背景-02.png' %}");
        background-repeat: no-repeat;
        background-size: 102% 100%;
        background-position: -7px -6px;
        color: #ffffff;
        overflow-y: scroll;
    }

	#article::-webkit-scrollbar {
        display: none;
    }

	.item {
		position: relative;
		width: 92%;
		top: 20px;
		left: 4%;
		margin: 0 0 15 0;
	}

	.cv_item {
		position: relative;
		width: 10%;
		height: 0;
		top: 10px;
		font-size: 11pt;
		font-weight: 500;
		text-align: justify;
        color: #ffffff;
	}

	.cv_item:after { 
		content: " "; 
		display: inline-block; 
		width: 100%;
	}

	.cv_value {
		position: relative;
		width: 88%;
        left: 12%;
		top: 12px;
        font-size: 11pt;
		font-weight: 300;
        color: #ffffff;
		white-space:pre-wrap;
		background-color: rgba(0, 4, 26, 0.37);
		border: none;
		outline: solid 1px rgba(207, 214, 255, 0.37);
		overflow: scroll;
	}

	.cv_value::-webkit-scrollbar {
		display: none;
	}

	.select {
		position: relative;
		width: 20%;
        left: 12%;
		top: 12px;
        font-size: 11pt;
		font-weight: 300;
        color: #ffffff;
		white-space:pre-wrap;
		background-color: rgba(0, 4, 26, 0.37);
		border: none;
		outline: solid 1px rgba(207, 214, 255, 0.37);
		overflow: scroll;
	}

	#set_cv {
		position: relative;
		top: 0;
        left: 40%;
        width: 20%;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		outline: none;
		margin: 40 0;
		cursor: pointer;
	}

	#set_cv:hover{
		-webkit-transition:border linear .1s;
        -webkit-box-shadow:0 0 10px rgba(248, 255, 216, 0.25);
	}

</style>

<span id="board_name">履歷總管</span>
<div id="select_board">
	<a href="/cv">
        <li>
            <div><span>履歷列表</span></div>
        </li>
    </a>
</div>
<div id="article">
	<form action="totalcv" method="POST">
		{% csrf_token %}
		<div class="item"><div class="cv_item">名字</div>{{ form.sName }}</div>
		<div class="item"><div class="cv_item">暱稱 </div>{{ form.sNickname }}</div>
		<div class="item"><div class="cv_item">性別 </div>{{ form.sex }}</div>
		<div class="item"><div class="cv_item">生日 </div>{{ form.dateBirthday }}</div>
		<div class="item"><div class="cv_item">電話號碼 </div>{{ form.sPhoneNumber1 }}</div>
		<div class="item"><div class="cv_item">家裡住址 </div>{{ form.sAddressHome }}</div>
		<div class="item"><div class="cv_item">電子信箱 </div>{{ form.sEmail }}</div>
		<div class="item"><div class="cv_item">中文自傳 </div>{{ form.sAutobiography_zh }}</div>
		<div class="item"><div class="cv_item">英文自傳 </div>{{ form.sAutobiography_en }}</div>
		<input type="submit" value="儲存" id="set_cv">
		
		
	</form>
</div>

<a href="/cv/">
    <div id="close_bt"></div>
</a>

{% endblock %}