{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <title>GoStar4.0</title>
    <style>
        
        body {
            margin: 0;
        }

        span {
            font-size: 14pt;
            font-weight: 700;
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
            color: white;
            position: absolute;
        }

        #bg {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #logo {
            position: absolute;
            width: 19%;
            height: 47%;
            left: 2.5%;
            top: 1%;
        }

        #student {
            position: absolute;
            width: 18%;
            height: 33%;
            left: 34.5%;
            top: 4.5%;
            
        }

        #teacher {
            position: absolute;
            width: 24.3%;
            height: 30%;
            left: 73.5%;
            top: 1%;
        }

        #tea_student {
            position: absolute;
            width: 11.32%;
            height: 20.1%;
            left: 70.5%;
            top: 47.7%;
        }

        #teach_student {
            position: absolute;
            width: 20.3%;
            height: 36.1%;
            left: 60.3%;
            top: 27.1%;
        }

        #staff {
            position: absolute;
            width: 13.67%;
            height: 24.3%;
            left: 16.75%;
            top: 30.35%;
        }

        #free_student {
            position: absolute;
            width: 8%;
            height: 16%;
            left: 81%;
            top: 41%;
        }

        #student:hover, #teacher:hover, #tea_student:hover, #teach_student:hover, #staff:hover, #free_student:hover {
            -webkit-filter: drop-shadow(12px 12px 7px rgba(242, 252, 200, 0.1));
            filter: drop-shadow(12px 12px 7px rgba(242, 252, 200, 0.1));
        }

    </style>
</head>

<body>
    <img src="{% static 'user/img/home/背景-01.jpg' %}" id="bg" />
    <img src="{% static 'user/img/home/標題.png' %}" id="logo" />
    <a href="{%if user in userList%}/board/{%else%}/signin_register_tourist{%endif%}">
        <img src="{% static 'user/img/home/1.師就處主頁面-02.png' %}" id="student" />
        <span style="top: 35%;left: 40%;">一般訪客</span>
    </a>
    <a href="{%if user in userList%}/board/{%else%}/signin_register_tourist{%endif%}">
        <img src="{% static 'user/img/home/1.師就處主頁面-10.png' %}" id="teacher" />
        <span style="top: 26%;left: 83%;">教師</span>
    </a>
    <a href="{%if user in userList%}/board/{%else%}/signin_register_tourist{%endif%}">
        <img src="{% static 'user/img/home/1.師就處主頁面-08.png' %}" id="teach_student" />
        <span style="top: 56%;left: 66%;">師資生</span>
    </a>
    <a href="{%if user in userList%}/board/{%else%}/signin_register_tourist{%endif%}">
        <img src="{% static 'user/img/home/1.師就處主頁面-12.png' %}" id="tea_student" />
        <span style="top: 61.5%;left: 74%;">師獎生</span>
    </a>
    <a href="{%if user in userList%}/board/{%else%}/signin_register_tourist{%endif%}">
        <img src="{% static 'user/img/home/1.師就處主頁面-04.png' %}" id="staff" />
        <span style="top: 50%;left: 20.5%;">行政人員</span>
    </a>
    <a href="{%if user in userList%}/board/{%else%}/signin_register_tourist{%endif%}">
        <img src="{% static 'user/img/home/1.師就處主頁面-06.png' %}" id="free_student" />
        <span style="top: 52.5%;left: 82.7%;">公費生</span>
    </a>
    
    
    
    
    
    
</body>

</html>