<!DOCTYPE html>
{% extends "briefcv/功能.html" %}
{% block title %}模板6：標題+內文{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">
    <style type="text/css">
        .title6 {
            position: absolute;
            top: 10%;
            left: 25%;
            width: 50%;
            height: 70px;
            font-size: 40pt;
            font-weight: bold;
            text-align: center;
            background-color: transparent;
            color: #ffffff;
            padding: 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: 8px;
            border: none;
        }
        .content_box {
            position: absolute;
            top: 18%;
            left: 20%;
            width: 60%;
            height: 82%;
            padding: 0px;
            background-image: url("{% static 'briefcv/img/切圖/履歷表/模板6：標題+內文/底-07.png' %}");
            background-size: 105% 108%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .content_BG {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            border: solid red;
        }
        .content6 {
            position: absolute;
            top: 2.5%;
            left: 5%;
            width: 90%;
            height: 95%;
            font-size: 15pt;
            font-weight: 100;
            background-color: transparent;
            color: #ffffff;
            padding: 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: 2px;
            overflow-y: scroll;
            //border: none;
            //border: solid white;
        }
    </style>
</head>

<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板6：標題+內文/BG-06.jpg' %}">

    <div class="top"></div>
    <div class="logo"></div>

    <div class="person"></div>
    <div class="activity"></div>
    <div class="cv"></div>
    <div class="notice"></div>
    <div class="set"></div>

    <div class="eye_1"></div>
    <div class="last"></div>
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    <div class="add_1"></div>
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <div class="delete" onclick="delete_box();"></div>
    <div class="clear" onclick="clear_box();"></div>
    <div class="print"></div>
    <div class="save_1"></div>
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <div class="exit_1" onclick="exit_box();"></div>


    <!-- <img class="color_1" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-深色.png' %}"> -->
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-淺色.png' %}" > -->
    <div class="add_4"></div>
    <!-- <img class="delete_1" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}" >
    <img class="delete_2" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON-27.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表/功能/顯示未讀.png' %}" > -->
    <div class="last_style"></div>
    <div class="next_style"></div>

    <form  id="m" method="POST">
        {% csrf_token %}
        <input type="text" name="title" class="title6" placeholder="標題" value="{{Page.sTitle}}" autocomplete="off">
        <div class="content_box">
            <!--img class="content_BG" src="{% static 'briefcv/img/切圖/履歷表/模板6：標題+內文/底-07.png' %}"-->
            <textarea type="text" name="content" class="content6" placeholder="新增內容">{{Page.sContent}}</textarea>
        </div>
        
    </form> 
</body>

</html>

{% endblock %}