{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
<!-- 載入思源黑體 -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>列印</TITLE>

    <style>
        body {
            margin: 0;
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
            color: #ffffff;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        #article {
            position: absolute;
            width: 100%;
            height: auto;
            background-image: url("{% static 'article/img/論壇/背景-01.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            color: #ffffff;
            overflow: hidden;
            padding-bottom: 150px;
        }

        #bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("{% static 'article/img/文章內文/文章背景-02.png' %}");
            background-repeat: no-repeat;
            background-size: 150% 150%;
            background-position: -30px -60px;
        }

        .cv_title {
            position: relative;
            width: 88%;
            font-size: 13pt;
            font-weight: 700;
            top: 50px;
            left: 6%;
            letter-spacing: 2px;
            color: #ffffff;
            display: block;
            border-bottom: white 1px solid;
            padding-bottom: 5px;
        }

        .item {
            position: relative;
            width: 88%;
            height: auto;
            top: 50px;
            left: 6%;
            border-bottom: rgba(255, 255, 255, 0.3) 1px dashed;
        }

        .cv_item {
            position: relative;
            width: 10%;
            height: 0px;
            top: 10px;
            font-size: 11pt;
            font-weight: 500;
            text-align: justify;
            white-space: pre-wrap;
            color: #ffffff;
            display: inline-block;
        }

        .cv_item:after {
            content: " ";
            display: inline-block;
            width: 100%;
        }

        .cv_value {
            position: relative;
            width: 88%;
            left: 12%;
            bottom: 3px;
            font-size: 11pt;
            font-weight: 300;
            color: #ffffff;
            white-space: pre-wrap;
            margin: 15 0 5 0;
        }

        @media print {
            * {
                -webkit-print-color-adjust: exact !important;
            }

            .noBreak {
                break-inside: avoid;
            }
        }

        @page {
            size: A4 portrait;
            margin-top: 50cm;
        }
    </style>


    <script>

        function toPrint() {
            window.print();
        }

    </script>
</head>

<body onload="toPrint();">

    <div id="article">
        <div id="bg"></div>
        <span class="cv_title">個人資料</span>
        {% for key, value in data.items %}
        {% if value %}
        <div class="item noBreak">
            <div class="cv_item">{{key}} </div>
            <pre class="cv_value">{{value}}</pre>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- <button onclick="Export2Word('article', 'word-content.docx');" style="position: absolute;">Export as .doc</button> -->

</body>

<script>
    function Export2Word(element, filename = ''){
    var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
    var postHtml = "</body></html>";
    var html = preHtml+document.getElementById(element).innerHTML+postHtml;

    var blob = new Blob(['\ufeff', html], {
        type: 'application/msword'
    });
    
    // Specify link url
    var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
    
    // Specify file name
    filename = filename?filename+'.doc':'document.doc';
    
    // Create download link element
    var downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob ){
        navigator.msSaveOrOpenBlob(blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = url;
        
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
    
    document.body.removeChild(downloadLink);

    
}
</script>
<footer>

</footer>

</html>