{% extends "usercv/usercv_base.html" %}
{% block title %}公開履歷{% endblock %}
{% block content %}
{% load static %}
<style>
    #bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("{% static 'usercv/img/BG-06.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #cv_block {
        position: absolute;
        width: 80%;
        height: 90%;
        left: 10%;
        top: 10%;
        overflow: scroll;
    }

    #cv_block::-webkit-scrollbar {
        display: none;
    }

    #cv {
        position: relative;
        width: 220px;
        height: 300px;
        margin: 10px 16px;
        background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 102% 100%;
        background-position: -7px -6px;
        color: #ffffff;
        overflow-y: hidden;
        display: inline-block;
    }

    #cv:after {
        content: " ";
        display: inline-block;
        width: 100%;
    }

    .img {
        position: relative;
        width: 160px;
        height: 160px;
        left: 28px;
        top: 30px;
        border-radius: 50%;
        border: #ecd7ff 2px solid;
    }

    #item {
        position: relative;
        width: 100%;
        top: 55px;
        text-align: center;
    }

</style>

<div id="bg"></div>

<span id="board_name">公開履歷</span>

<div id="cv_block">
    {% for cv in cvList %}
    <a href="public/{{cv.iAccount}}/{{cv.sPublic}}">
        <div id="cv">
            {% if cv.iAccount.userinfo.imageAvatar %}
            <img src="{{cv.iAccount.userinfo.imageAvatar.url}}" class="img">
            {%else%}
            <div class="img"></div>  
            {% endif %}
            <div id="item">{{cv.iAccount}}</div>
        </div>
    </a>
    {% endfor %}
</div>



{% endblock %}