{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        body {
            margin: 0;
        }

        #bg {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #logo {
            position: absolute;
            width: 6.215%;
            height: 15.5%;
            left: 1.78%;
            top: 3.45%;
            cursor: pointer;
        }

        #register {
            position: absolute;
            width: 23.35%;
            height: 28.266666%;
            left: 11.5%;
            top: 42%;
            cursor: pointer;
        }

        #signIn {
            position: absolute;
            width: 23.35%;
            height: 28.266666%;
            left: 39%;
            top: 42%;
            cursor: pointer;
        }

        #tourist {
            position: absolute;
            width: 23.35%;
            height: 28.266666%;
            left: 66.5%;
            top: 42%;
            cursor: pointer;
        }

        #select_1 {
            position: absolute;
            width: 22.175%;
            height: 14.266666%;
            left: 12%;
            top: 41%;
            display: none;
            opacity: 50%;
        }

        #select_2 {
            position: absolute;
            width: 22.175%;
            height: 14.266666%;
            left: 39.5%;
            top: 41%;
            display: none;
            opacity: 50%;
        }

        #select_3 {
            position: absolute;
            width: 22.175%;
            height: 14.266666%;
            left: 67%;
            top: 41%;
            display: none;
            opacity: 50%;
        }
    </style>
    <script type="text/javascript">
        var se_1, se_2, se_3;
        function select_1() {
            se_1 = document.getElementById('select_1');
            se_1.style.display = 'block';
        }
        function noselect_1() {
            se_1 = document.getElementById('select_1');
            se_1.style.display = 'none';
        }
        function select_2() {
            se_2 = document.getElementById('select_2');
            se_2.style.display = 'block';
        }
        function noselect_2() {
            se_2 = document.getElementById('select_2');
            se_2.style.display = 'none';
        }
        function select_3() {
            se_3 = document.getElementById('select_3');
            se_3.style.display = 'block';
        }
        function noselect_3() {
            se_3 = document.getElementById('select_3');
            se_3.style.display = 'none';
        }
    </script>

</head>

<body>
    <img src="{% static 'user/img/home/BG-01.jpg' %}" id="bg" />
    <a href="{% url 'home' %}"><img src="{% static 'user/img/home/LOGO.png' %}" id="logo"/></a>
    <a href="#"><img src="{% static 'user/img/home/選定ICON.png' %}" id="select_1"
        onmousemove="select_1();" onmouseout="noselect_1();" /></a>
    <a href="{% url 'login' %}"><img src="{% static 'user/img/home/選定ICON.png' %}" id="select_2"
        onmousemove="select_2();" onmouseout="noselect_2();" /></a>
    <a href="{% url 'tourist' %}"><img src="{% static 'user/img/home/選定ICON.png' %}" id="select_3"
        onmousemove="select_3();" onmouseout="noselect_3();" /></a>
    <a href="{% url 'register' %}"><img src="{% static 'user/img/home/註冊ICON.png' %}" id="register" onmousemove="select_1();"
        onmouseout="noselect_1();" /></a>
    <a href="{% url 'login' %}"><img src="{% static 'user/img/home/登入ICON.png' %}" id="signIn" onmousemove="select_2();"
        onmouseout="noselect_2();" /></a>
    <a href="{% url 'tourist' %}"><img src="{% static 'user/img/home/遊客ICON.png' %}" id="tourist" onmousemove="select_3();"
        onmouseout="noselect_3();" /></a>
    
</body>

</html>