<!DOCTYPE html>
<html>
{% extends "briefcv/D功能.html" %}
{% block title %}模板5：文章式{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'briefcv/js/template.js'%}"></script>
    <style>
        .title5 {
            position: absolute;
            top: 15%;
            left: 9%;
            width: 60%;
            height: 5%;
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
            font-size: 20pt;
            font-weight: bolder;
            background-color: transparent;
            color: #ffffff;
            padding: 0;
            margin: 0;
            border: 1px solid rgba(255, 255, 255, 0.534);
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: 2px;
        }

        .content5 {
            position: absolute;
            top: 65%;
            left: 9%;
            width: 75%;
            height: 30%;
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
            font-size: 15pt;
            font-weight: 100;
            background-color: transparent;
            color: #ffffff;
            padding: 0;
            margin: 0;
            border: 1px solid rgba(255, 255, 255, 0.534);
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: 2px;
            overflow-y: scroll;
        }

        #photo_box {
            position: absolute;
            top: 25%;
            left: 9%;
            width: 75%;
            height: 35%;
            border: 1px solid white;
        }

        .add_photo {
            position: absolute;//position: relative;
            //top: 36.5%; left: 42.5%; width: 15%; height: 27%;
            left: 50%; top:50%; width: auto; height: 20%; 
            cursor: pointer; 
            transform: translate(-50%, -50%);
        }

        .changeimg{
            position: absolute;
            top: 0%; 
            width: 40px; 
            height: 100%; 
            cursor: pointer; 
            background-color: rgba(0, 0, 0, 1);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
        }

        #imgplayer{
            position: absolute;
            top: 50%; 
            left: 50%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            //height: 100%;
            //width: 100%;
            border: red 2px solid;
            transform: translate(-50%, -50%);
        }
        #vidplayer{
            position: absolute;
            top: 50%; 
            left: 50%;
            height: 100%;
            width: calc(100% - 80px);
            height: 100%;
            //height: 100%;
            //width: 100%;
            border: red 2px solid;
            transform: translate(-50%, -50%);
        }
        .indexbox{
            background-color: rgba(0, 0, 0, 1);
            border: 1px solid rgba(255, 255, 255, 0.534);
            height: 30px;
            width: 60px;
            top: -5px;
            display: inline-block;
            position: relative;
            right: 40px;
            float: right;
            transform: translate(0%, -100%);
            margin: 0px 0px 0px 5px;
            font-size: 0px;

            max-width: 315px;
            overflow-x: scroll;
            overflow-y: visible;
        }
        
        .indexbutton{
            background-color: rgba(10, 10, 10, 1);
            border: 1px solid rgba(255, 255, 255, 0.534);
            color: white;
            height: 24px;
            width: 24px;
            position: relative;
            display: inline-block;
            font-size: 10px;
            text-align: center;
            margin: 2px;
            cursor: pointer;
        }
        .indexbutton:hover{
            background-color: rgba(200, 200, 200, 0.8);
            color: black;
        }
        
    </style>
</head>    
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板5：文章式/BG-05.jpg' %}">

    <form  id="m" method="POST">
        {% csrf_token %}

        <input type="text" name="title" class="title5" placeholder="標題" value="{{Page.sTitle}}" autocomplete="off" disabled>
      
        <div id="photo_box" style="display: block;" onmouseenter="clearInterval(T);console.log('off');this.children[2].style.opacity=0.2;this.children[3].style.opacity=0.2;" onmouseleave="switchInterval(1);this.children[2].style.opacity=0;this.children[3].style.opacity=0;">
            
            <div id="vidplayer"><div id="ytplayer" style="height:100%; width: 100%;"></div></div>
            <img id="imgplayer" src="" style="display:none;">

            <div id="lastimg" class="changeimg" style="left:0px; background-image: url('{% static 'briefcv/img/切圖\履歷表\功能\上一組模板.png' %}');" onclick="nextimg(-1);" onmouseenter="this.style.opacity=0.8;" onmouseleave="this.style.opacity=0.2;"></div>
            <div id="nextimg" class="changeimg" style="right:0px; background-image: url('{% static 'briefcv/img/切圖\履歷表\功能\下一組模板ICON.png' %}');" onclick="nextimg(1);" onmouseenter="this.style.opacity=0.8;" onmouseleave="this.style.opacity=0.2;"></div> 



            <div id='indexbox' class='indexbox' style="width: fit-content;">
                <div id='idx' style="width: fit-content;">
                </div>
            </div>
        </div>

        <textarea type="text" name="content" id="content5" class="content5" placeholder="新增文字內容" disabled>{{Page.sContent}}</textarea>


    </form>
</body>

<script type="text/javascript">
    var player;
    var vidplayer = document.getElementById('vidplayer');   
    var imgplayer = document.getElementById('imgplayer');
    var add = document.getElementById('add_photo');
    var photo_box = document.getElementById('photo_box');
    var ytid;
    var now = -1;
    var isplaying = 0;
    var L = [];
    var idx = 0;
    var T;
</script>
<script type="text/javascript">



    function add_data2(d = null,url = null) {
        var YT = ['youtube.com','youtu.be']
        if(url == null){
            url=prompt("請輸入連結", "")
            var myURL = new URL(url);
            //console.log(myURL);
        }else{
            var myURL = new URL(url);
        }

        if((myURL.hostname.indexOf(YT[0])+myURL.hostname.indexOf(YT[1])) >= -1){
            insert_vid(parent,myURL);
        }else{
            insert_img(parent,url);
        }
        
        box = document.getElementById('idx');
        i = document.createElement('div');
        i.className = "indexbutton";
        i.innerText = idx+1;
        i.onclick = function(){
            //clearInterval(T);
            if (now!=(this.innerText-1)){
                now = this.innerText-2;
                nextimg(1);
            }
            //T = setInterval(function(){nextimg(1);},10000);
        }
        box.appendChild(i);
        idx+=1;
    }
    function insert_img(parent,u = null){
        if(u){
            L.push(u)
        }
    }
    function insert_vid(parent,u = null){
        if(u){
            if(u.pathname.slice(0,6)=='/embed'){
                u = u.pathname.slice(6);
            }else if(u.pathname == "/watch"){
                u = '/'+ new URLSearchParams(u.search).get('v');
            }else{
                u = u.pathname;
            }           

            L.push("https://www.youtube.com/embed"+u);
        }
    }
    
    function loadURL(){
        {% if player == '0' %}
            photo_box.style.display = 'none';
            document.getElementById('content5').style='top: 25%; height: 70%;'
        {% else %}
            photo_box.style.display = 'block';
        {% endif %}

        {% for T in TL %}
            L.push('{{T|safe}}');
            box = document.getElementById('idx');
            i = document.createElement('div');
            i.className = "indexbutton";
            i.innerText = idx+1;
            i.onclick = function(){
                //clearInterval(T);
                if (now!=(this.innerText-1)){
                    now = this.innerText-2;
                    nextimg(1);
                }
                //T = setInterval(function(){nextimg(1);},10000);
            }
            box.appendChild(i);
            idx+=1;
        {% endfor %}
    }
    loadURL(); 
</script>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">  

    function onYouTubeIframeAPIReady() {
    //- 一般使用 影片的id寫在html裡
    //- 不必加width, height，想加可加在iframe上
        player = new YT.Player('ytplayer', {
            //videoId: '',
            playerVars:{
              //enablejsapi:1,  
              //autoplay:1,
              modestbranding:1
            },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
          }
        });
    }
    function onPlayerReady(e) {
        //- 為確保瀏覽器上可以自動播放，要把影片調成靜音
        //e.target.playVideo().mute();         
    }

    function onPlayerStateChange(event) {
        //console.log(event.data,player.isMuted(),T)
        if ((event.data == YT.PlayerState.PAUSED)||(event.data == YT.PlayerState.ENDED)) {
            //T = setInterval(function(){nextimg(1);},10000);
            isplaying = 0;
            console.log('pause',T,isplaying)
        }else if((event.data == YT.PlayerState.PLAYING)||(event.data==YT.PlayerState.BUFFERING)){
            clearInterval(T);//&&(player.isMuted()==false)
            isplaying = 1;
            console.log('play',T,isplaying)
        }

    }
</script>
<script type="text/javascript"> 
    function switchInterval(e){
        if (isplaying==0){
        T = setInterval(function(){nextimg(1);},10000)
        console.log('on',T);
        }
    };
        
    function nextimg(a){
        box = document.getElementById('idx');
        isplaying = 0;
        if(L.length>0){

            if ( ((now+a+L.length)%L.length) != now ){
                now = ((now+a+L.length)%L.length);
                if(L[now].indexOf('youtube.com/embed') == -1 ){
                    imgplayer.src = L[now];
                    player.cueVideoById('');
                    //vidplayer.src = '';
                    imgplayer.style = 'display:block;';
                    vidplayer.style = 'display:none;';
                }else{
                    //vidplayer.src = L[now]+'?enablejsapi=1&modestbranding=1';
                    ytid = L[now].split("/")
                    player.cueVideoById(ytid[ytid.length-1]);
                    imgplayer.src = '';
                    imgplayer.style = "display:none;";
                    vidplayer.style = "display:block;";
                }

                for(i=0;i<L.length;i++){

                    if(i!=now){
                        box.children[i].style = '';
                    }else{
                        box.children[i].style = 'background-color:rgba(255,0,0,0.6);';
                    }
                }
                
            }
        }else if(L.length==0){
            now = -1;
            imgplayer.src = '';
            //vidplayer.src = '';
            player.cueVideoById('');
            imgplayer.style = "display:none;";
            vidplayer.style = "display:none;";
        }
    }
    setTimeout(function(){        
        nextimg(1);
        T = setInterval(function(){nextimg(1);},10000);
    },1000)
</script>

 
</html>
{% endblock %}