<!DOCTYPE html>
{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet" />
    <TITLE>{% block title %}{% endblock %}</TITLE>
    <style>
        body {
            padding: 0%;
            margin: 0%;
        }

        .BG {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .top {
            position: absolute;
            width: 100%;
            height: 10.088888%;
        }

        .logo {
            position: absolute;
            top: 3.5%;
            left: 1.8%;
            width: 6.225%;
            height: 15.37777777%;
        }

        .person {
            position: absolute;
            top: 3%;
            right: 15.5%;
            width: 7.275%;
            height: 5.28888%;
        }

        .activity {
            position: absolute;
            top: 3%;
            right: 12%;
            width: 2.6%;
            height: 5.06666%;
        }

        .cv {
            position: absolute;
            top: 3%;
            right: 8.5%;
            width: 2.6%;
            height: 5.06666%;
        }

        .notice {
            position: absolute;
            top: 3.9%;
            right: 5%;
            width: 2.65%;
            height: 2.755555%;
        }

        .set {
            position: absolute;
            top: 4%;
            right: 2%;
            width: 1.75%;
            height: 2.311111%;
        }

        .eye_1 {
            position: absolute;
            top: 10.5%;
            right: 19%;
            width: 1.675%;
            height: 1.8%;
        }

        .last {
            position: absolute;
            top: 10%;
            right: 17%;
            width: 1.3%;
            height: 2.35555%;
        }

        .add_1 {
            position: absolute;
            top: 10%;
            right: 14.2%;
            width: 1.725%;
            height: 2.355555%;
        }

        .delete {
            position: absolute;
            top: 10%;
            right: 11.5%;
            width: 1.725%;
            height: 2.35555%;
            cursor: pointer;
        }

        .clear {
            position: absolute;
            top: 10%;
            right: 9.4%;
            width: 1.275%;
            height: 2.311111%;
            cursor: pointer;
        }

        .print {
            position: absolute;
            top: 10%;
            right: 6.5%;
            width: 1.825%;
            height: 3.333333%;
        }

        .save_1 {
            position: absolute;
            top: 10%;
            right: 4.2%;
            width: 1.3%;
            height: 2.31111%;
        }

        .exit_1 {
            position: absolute;
            top: 10%;
            right: 2%;
            width: 1.3%;
            height: 2.31111%;
            cursor: pointer;
        }

        .color_1 {
            position: absolute;
            top: 88%;
            right: 2%;
            width: 2.675%;
            height: 2.622222%;
        }

        .color_2 {
            position: absolute;
            top: 2%;
            left: 1%;
            width: 2.775%;
            height: 2.622222%;
        }

        .add_4 {
            position: absolute;
            top: 94.4%;
            right: 2%;
            width: 1.725%;
            height: 3.066666%;
        }

        .last_style{
            position: absolute;
            top: 50%;
            left: 4%;
            width: 2.5%;
            height: 3.33333%;
        }

        .next_style{
            position: absolute;
            top: 50%;
            right: 4%;
            width: 2.5%;
            height: 3.33333%;
        }

        #clear_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        .box {
            position: absolute;
            top: 42%;
            left: 39%;
            width: 22.525%;
            height: 17.022222%;
        }

        .confirm_delete {
            position: absolute;
            top: 50.2%;
            left: 43.5%;
            width: 6%;
            height: 5%;
            cursor: pointer;
        }

        .undelete {
            position: absolute;
            top: 50.2%;
            left: 50.5%;
            width: 6%;
            height: 5%;
            cursor: pointer;
        }

        #choice_1 {
            position: absolute;
            top: 51.5%;
            left: 43.9%;
            width: 1.6%;
            height: 2.84444%;
            display: none;
        }

        #choice_2 {
            position: absolute;
            top: 51.5%;
            left: 50.8%;
            width: 1.575%;
            height: 2.8%;
            display: none;
        }

        #delete_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        #choice_3 {
            position: absolute;
            top: 51.5%;
            left: 43.9%;
            width: 1.6%;
            height: 2.84444%;
            display: none;
        }

        #choice_4 {
            position: absolute;
            top: 51.5%;
            left: 50.8%;
            width: 1.575%;
            height: 2.8%;
            display: none;
        }

        #exit_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        #choice_5 {
            position: absolute;
            top: 51.5%;
            left: 43.9%;
            width: 1.6%;
            height: 2.84444%;
            display: none;
        }

        #choice_6 {
            position: absolute;
            top: 51.5%;
            left: 50.8%;
            width: 1.575%;
            height: 2.8%;
            display: none;
        }

        
    </style>
    <script type="text/javascript">
        var choice;
        function confirm_delete_1() {
            choice = document.getElementById('choice_1');
            choice.style.display = 'block';
        }
        function undelete_1() {
            choice = document.getElementById('choice_2');
            choice.style.display = 'block';
        }
        function confirm_delete_2() {
            choice = document.getElementById('choice_1');
            choice.style.display = 'none';
        }
        function undelete_2() {
            choice = document.getElementById('choice_2');
            choice.style.display = 'none';
        }
        function clear_box() {
            choice = document.getElementById('clear_box');
            choice.style.display = 'block';
        }
        function closeclear() {
            choice = document.getElementById('clear_box');
            choice.style.display = 'none';
        }
        function confirm_delete_3() {
            choice = document.getElementById('choice_3');
            choice.style.display = 'block';
        }
        function undelete_3() {
            choice = document.getElementById('choice_4');
            choice.style.display = 'block';
        }
        function confirm_delete_4() {
            choice = document.getElementById('choice_3');
            choice.style.display = 'none';
        }
        function undelete_4() {
            choice = document.getElementById('choice_4');
            choice.style.display = 'none';
        }
        function delete_box() {
            choice = document.getElementById('delete_box');
            choice.style.display = 'block';
        }
        function closedelete() {
            choice = document.getElementById('delete_box');
            choice.style.display = 'none';
        }
        function savebt() {
            choice = document.getElementById('choice_5');
            choice.style.display = 'block';
        }
        function exitbt() {
            choice = document.getElementById('choice_6');
            choice.style.display = 'block';
        }
        function savebt_1() {
            choice = document.getElementById('choice_5');
            choice.style.display = 'none';
        }
        function exitbt_1() {
            choice = document.getElementById('choice_6');
            choice.style.display = 'none';
        }
        function exit_box() {
            choice = document.getElementById('exit_box');
            choice.style.display = 'block';
        }
    </script>
</head>

<body>

    
    {% block content %}{% endblock %}

    
    <img class="top" src="{% static 'briefcv/img/切圖/履歷表/功能/網頁頭.png' %}">
    <img class="logo" src="{% static 'briefcv/img/切圖/履歷表/功能/LOGO-07.png' %}">

    <img class="person" src="{% static 'briefcv/img/切圖/履歷表/功能/個人頁面ICON.png' %}">
    <img class="activity" src="{% static 'briefcv/img/切圖/履歷表/功能/活動群組ICON.png' %}">
    <img class="cv" src="{% static 'briefcv/img/切圖/履歷表/功能/履歷表ICON.png' %}">
    <img class="notice" src="{% static 'briefcv/img/切圖/履歷表/功能/通知ICON.png' %}">
    <img class="set" src="{% static 'briefcv/img/切圖/履歷表/功能/設定ICON.png' %}">

    <img class="eye_1" src="{% static 'briefcv/img/切圖/履歷表/功能/公開隱藏ICON(公開).png' %}">
    <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(no).png' %}">
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    <img class="add_1" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面ICON.png' %}">
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <img class="delete" onclick="delete_box();" src="{% static 'briefcv/img/切圖/履歷表/功能/刪除此頁ICON.png' %}">
    <img class="clear" onclick="clear_box();" src="{% static 'briefcv/img/切圖/履歷表/功能/清內容ICON.png' %}">
    <img class="print" src="{% static 'briefcv/img/切圖/履歷表/功能/列印ICON.png' %}">
    <img class="save_1" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(no).png' %}">
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <img class="exit_1" onclick="exit_box();" src="{% static 'briefcv/img/切圖/履歷表/功能/離開ICON.png' %}">


    <img class="color_1" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-深色.png' %}">
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-淺色.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表/功能/顯示未讀.png' %}" > -->
    <img class="last_style" src="{% static 'briefcv/img/切圖/履歷表/功能/上一組模板.png' %}" >
    <img class="next_style" src="{% static 'briefcv/img/切圖/履歷表/功能/下一組模板ICON.png' %}" >

    

    

    <div id="clear_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表/功能/清內容.png' %}">
        <img id="choice_1" src="{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}">
        <img id="choice_2" src="{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_1();" onmouseout="confirm_delete_2();"></div>
        <div class="undelete" onmousemove="undelete_1();" onmouseout="undelete_2();" onclick="closeclear();"></div>
    </div>
    
    <div id="delete_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表/功能/刪除此頁.png' %}">
        <img id="choice_3" src="{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}">
        <img id="choice_4" src="{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_3();" onmouseout="confirm_delete_4();"></div>
        <div class="undelete" onmousemove="undelete_3();" onmouseout="undelete_4();" onclick="closedelete();"></div>
    </div>

    <div id="exit_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表/功能/離開.png' %}">
        <img id="choice_5" src="{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}">
        <img id="choice_6" src="{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}">
        <div class="confirm_delete" onmousemove="savebt();" onmouseout="savebt_1();"></div>
        <div class="undelete" onmousemove="exitbt();" onmouseout="exitbt_1();"></div>
    </div>


    

</body>

</html>