<!DOCTYPE html>
{% extends "briefcv/功能.html" %}
{% block title %}模板2：標題{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">
</head>
<style type="text/css">
    .title2 {
        position: absolute;
        top: 38%;
        left: 26%;
        width: 48%;
        height: 80px;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 40pt;
        font-weight: bolder;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 10px;
    }    
</style>
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板2：標題/BG-02.jpg' %}">

    <div class="top"></div>
    <div class="logo"></div>

    <div class="person"></div>
    <div class="activity"></div>
    <div class="cv"></div>
    <div class="notice"></div>
    <div class="set"></div>

    <div class="eye_1"></div>
    <div class="last"></div>
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    <div class="add_1"></div>
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <div class="delete" onclick="delete_box();"></div>
    <div class="clear" onclick="clear_box();"></div>
    <div class="print"></div>
    <div class="save_1"></div>
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <div class="exit_1" onclick="exit_box();"></div>


    <!-- <img class="color_1" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-深色.png' %}"> -->
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-淺色.png' %}" > -->
    <div class="add_4"></div>
    <!-- <img class="delete_1" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}" >
    <img class="delete_2" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON-27.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表/功能/顯示未讀.png' %}" > -->
    <div class="last_style"></div>
    <div class="next_style"></div>

    <form  id="m" method="POST">
        {% csrf_token %}
        
        <img id="readmore" class="readmore" src="{% static 'briefcv/img/切圖/履歷表/功能/READ MORE.png' %}" style='display:none;'>
        <input type="text" name="title" class="title2" placeholder="標題" value="{{Page.sTitle}}" autocomplete="off">
    </form>     


</body>

</html>

{% endblock %}