<!DOCTYPE html>
{% extends "briefcv/功能.html" %}
{% block title %}模板3：條列式{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">    
</head>
<style>
    .box3{
        top: 20px;
        position: relative;
        border: 1px solid red;
        //border-style:none; 
        //display: inline-block; 
        //width:max-content;
        //margin: 0 15px 0 0;
        max-width: : 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .block3{
        //top: 15px;
        position: relative;
        //border: 1px solid red;
        //border-style:none; 
        //display: inline-block; 
        width:max-content;
        margin: 15px 0 0 0;
    }
    .contact_title {
        height: 30px;
        width: 124px;
        min-width: 70px;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 10px;
        margin: 0;
        border: 2px solid rgba(255, 255, 255, 0.8);
        letter-spacing: 2px;
        display: inline-block;
    }
    .close {
        position: absolute; 
        top: -12px; 
        right: -12px;
        width:24px;
        height:24px;
    }


    .draggg:active{
        cursor:grabbing;
    }
    .draggg{
        height: 29px;
        width: 29px;
        position: relative;
        cursor:grab; 
        display: inline-block;
        background-image: url("{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}");
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: top;
        background-position: left top 12.5px;
        //background-color: rgba(0, 0, 0, 0.5);
    }
    /*[draggable="true"] {
      /*
       To prevent user selecting inside the drag source
      
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }*/

</style>
<script type="text/javascript">
    var boxid = 0
    function se_tex_box(d,sTitle=null,sContent=null){
        var box = document.createElement('div');
        box.className = 'box3'
        var block = document.createElement('div');
        block.className = 'block3'

        block.setAttribute('ondragstart',"dragStart(event,this);")
        block.setAttribute('ondragenter', "dragEnter(event,this);")
        block.setAttribute('ondrop', "dragDrop(event,this);")

        var drag = document.createElement('div');
        drag.className = 'draggg'
        drag.setAttribute('onmousemove',"this.parentElement.style.backgroundColor='rgba(255, 255, 255, 0.3)'; this.parentElement.draggable=true");
        drag.setAttribute('onmouseout',"this.parentElement.style.backgroundColor='';this.parentElement.draggable=false");
        
        var title = document.createElement("input");
        title.type = "text";
        title.name = "LTitle";
        title.className = "contact_title";
        title.setAttribute('maxlength',100);
        title.setAttribute('oninput',"this.style.width=0; this.style.width=this.scrollWidth+'px';");
        title.setAttribute('autocomplete',"off");
        title.placeholder = "標題";
        if (sTitle){title.value = sTitle;
            title.onload="this.style.width=0;  this.style.width=this.scrollWidth+'px';";}

        var content = document.createElement("input");
        content.type = "text";
        content.name = "LContent";
        content.className = "contact_title";
        content.setAttribute('maxlength',100);
        content.style = "font-weight: normal; border-left-style: none";
        content.setAttribute('oninput',"this.style.width=0;  this.style.width=this.scrollWidth+'px';");
        content.setAttribute('autocomplete',"off");
        content.placeholder = "內容";
        if (sContent){content.value = sContent;
            content.onload=function(){this.style.width=0;  this.style.width=this.scrollWidth+'px';};}

        close = document.createElement('div');
        close.className = "close"
        close.setAttribute('onclick' , "d=this.parentElement; d.parentElement.removeChild(d);");

        block.appendChild(drag);
        block.appendChild(close);
        block.appendChild(title);
        block.appendChild(content);
        
        //box.appendChild(block);
        //document.getElementById('myInfor').appendChild(box);

        document.getElementById('myInfor').appendChild(block);
        drag.style.height = drag.parentElement.clientHeight +'px';
        if (sTitle || sContent){
            title.style.width=0;  title.style.width=title.scrollWidth+'px';
            content.style.width=0;  content.style.width=content.scrollWidth+'px';}
    }
    function se_photo_box(url = null){
        var YT = ['youtube.com','youtu.be']
        if(url == null){
            url=prompt("請輸入連結", "")
            var myURL = new URL(url);
            //console.log(myURL);
        }else{
            var myURL = new URL(url);
        }

        var block = document.createElement('div');
        block.className = 'block3'
        block.style = 'width: fit-content; max-width: calc(100% - 15px);'
        block.setAttribute('ondragstart',"dragStart(event,this);")
        block.setAttribute('ondragenter', "dragEnter(event,this);")
        block.setAttribute('ondrop', "dragDrop(event,this);")

        var drag = document.createElement('div');
        drag.className = 'draggg'
        drag.setAttribute('onmousemove',"this.parentElement.style.backgroundColor='rgba(255, 255, 255, 0.3)'; this.parentElement.draggable=true");
        drag.setAttribute('onmouseout',"this.parentElement.style.backgroundColor='';this.parentElement.draggable=false");
        drag.setAttribute('onclick',"this.style.height = this.parentElement.clientHeight +'px';")

        close = document.createElement('div');
        close.className = "close"
        close.setAttribute('onclick' , "d=this.parentElement; d.parentElement.removeChild(d);");

        block.appendChild(drag);
        block.appendChild(close);
        document.getElementById('myInfor').appendChild(block);

        if((myURL.hostname.indexOf(YT[0])+myURL.hostname.indexOf(YT[1])) >= -1){
            //console.log('YT');
            insert_vid(block,myURL);
        }else{
            insert_img(block,url);
        }
    }
    function insert_img(parent,u = null){
        if(u){
            var img=document.createElement("img");

            img.src = u
            img.style = 'border: 1px solid white; max-width: calc(100% - 31px); vertical-align: top;'
            img.onload = function(){
                parent = this.parentElement;
                parent.children[0].style.height = parent.clientHeight +'px';
            }

            parent.appendChild(img);
            

            //setTimeout(function(p){p.children[0].style.height = p.clientHeight +'px';},100,parent)
            
        }
    }
    function insert_vid(parent,u = null){
        if(u){
            if(u.pathname.slice(0,6)=='/embed'){
                u = u.pathname.slice(6);
            }else if(u.pathname == "/watch"){
                u = '/'+ new URLSearchParams(u.search).get('v');
            }else{
                u = u.pathname;
            }           
            //console.log('YT',u);
            //parent.style = 'width: calc(100% - 50px);'
            var ifr=document.createElement("IFRAME");

            ifr.src = "https://www.youtube.com/embed"+u;
            ifr.style = 'border: 1px solid white; max-width: calc(100% - 31px); vertical-align: top; width: 100vw; height:360px'
            
            ifr.setAttribute('allow',"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture");
            ifr.setAttribute("allowfullscreen",'');
            ifr.setAttribute("title","YouTube video player");
            ifr.setAttribute("frameborder","0");
 
            parent.appendChild(ifr);
            parent.children[0].style.height = parent.clientHeight +'px';
        }
    }

    var dragfrom = '';
    var dragto = '';
    function dragStart(e,d){
        //console.log(e,d);
        dragfrom = d;
    }
    function dragDrop(e,d){
        dragfrom = '';
        dragto = '';
    }
    function dragEnter (e,d){
        //event.preventDefault(); 
        //console.log(e,d);
        dragto = d;
        //console.log(dragfrom.offsetTop,dragto.offsetTop)
        if (dragfrom.offsetTop>dragto.offsetTop){
            dragto.before(dragfrom);
        }else if(dragfrom.offsetTop<dragto.offsetTop){
            dragto.after(dragfrom);
        }
        
    }

    function save(leave=0) {
        document.getElementById('save_1').style.display = 'none'; 
        document.getElementById('save_2').style.display = 'block';

        form = document.getElementById('m');
        form.method = "POST";
        if (leave==1){
                l = document.createElement("input");
                l.type = 'hidden';
                l.value = leave
                l.name = 'leave';
                form.appendChild(l)
            }

        list = document.getElementsByClassName("block3");
        for (var i = 0; i < list.length; i++) {
            console.log(i,list[i].children[2].tagName)
            listtype = document.createElement("input");
            listtype.value = list[i].children[2].tagName;
            listtype.name = 'listtype';
            listtype.type = 'hidden';
            form.appendChild(listtype);

            if(list[i].children[2].tagName!='INPUT'){
                console.log(i,list[i].children[2].src)
                src = document.createElement("input");
                src.value = list[i].children[2].src;
                src.name = 'LSrc';
                src.type = 'hidden';
                form.appendChild(src);
            }
        }    
        form.submit()
    }
    

</script>
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/BG.jpg' %}">

    <form  id="m" method="POST" style="position: absolute; top: 15%; left: 20%; overflow-x: hidden; overflow-y: auto; height: 80%; width: 60%; display: {% if PagesList %}block;{% else %}none;{%endif%} //border: 1px solid white;" >
        {% csrf_token %}
        <div id="myInfor" name="myInfor" style="position: relative;top: 1px;left: 2.5%;overflow-x:auto;overflow-y:visible;height: auto;display: block; width: 95%; //border: 1px solid white;">
    <script type="text/javascript">
        function loadTL(df){
            {% for i in PagesList%}
                {% if i.sPictureURL %}
                    se_photo_box('{{i.sContent|safe}}');
                {% else %}
                    se_tex_box('','{{i.sTitle|safe}}','{{i.sContent|safe}}');
                {% endif %}
            {% endfor %}
        }
        loadTL();
    </script>
        </div>

        <img id="add" src="{% static 'briefcv/img/切圖\履歷表\功能\資料新增ICON.png' %}" onclick="add_data(this) " style="position: relative; left: 50%; width: 30px; height: 30px; cursor: pointer; transform: translate(-50%, 5px);">
    </form> 

    <img id="add_box" onclick="add_data();" src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/文字-09.png' %}" {% if  PagesList %}style="display: none;"{% endif %}>
      

    <div id="add_box_1">
        
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\選擇框.png' %}">
        <img id="choice_7" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_8" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        
        <div class="se_photo" onmousemove="se_photo();" onmouseout="se_photo_1();" onclick="document.getElementById('add_box_1').style.display = 'none'; se_photo_box();"></div>
        <div class="se_tex" onmousemove="se_tex();" onmouseout="se_tex_1();" onclick="document.getElementById('add_box_1').style.display = 'none'; se_tex_box();"></div>
        <script type="text/javascript">
            var choice;
            function se_photo() {
                choice = document.getElementById('choice_7');
                choice.style.display = 'block';
            }
            function se_tex() {
                choice = document.getElementById('choice_8');
                choice.style.display = 'block';
            }
            function se_photo_1() {
                choice = document.getElementById('choice_7');
                choice.style.display = 'none';
            }
            function se_tex_1() {
                choice = document.getElementById('choice_8');
                choice.style.display = 'none';
            }
            function add_data() {
                document.getElementById('add_box_1').style.display = 'block';
                document.getElementById('m').style.display = 'block';
                document.getElementById('add_box').style.display = 'none';
            } 
        </script>
        <style>
            #add_box_1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color:none ;
                display: none; 
            }

            #choice_7 {
                position: absolute;
                top: 48.8%;
                left: 41.8%;
                width: 1.6%;
                height: 2.84444%;
                display: none;
            }

            #choice_8 {
                position: absolute;
                top: 48.8%;
                left: 51.3%;
                width: 1.575%;
                height: 2.8%;
                display: none;
            }

            .se_photo {
                position: absolute;
                top: 47.8%;
                left: 41.5%;
                width: 7.5%;
                height: 5%;
                cursor: pointer;
            }

            .se_tex {
                position: absolute;
                top: 47.8%;
                left: 51%;
                width: 7.5%;
                height: 5%;
                cursor: pointer;
            }
        </style>
    </div>
   


</body>

</html>
{% endblock %}