{% extends "teascholarship/tea_base_check.html" %}
{% block content %}
<style>
	
</style>
<div id="item">
	{{sItemName}}<br>
	<p>
		說明：
		<ol>
			{% for detail in sDescription %}
			<li>{{detail}}</li>
			{% endfor %}
		</ol>
	</p>
	{% if sNote %}
	<p>備註：{{sNote}}</p>
	{% endif %}
	{% if yearly %}
	<p>檢核時間：每學年</p>
	<div>
		書面資料確認：<br>
		<ol>
		<form method="POST" action="">{% csrf_token %}
		{% for item in items %}
		<li>{{item.0}} -> 狀態 : [{{item.1}}]
			<input type="checkbox" name="selectedItem" value="{{item.2}}">
		</li>
		{% endfor %}
		選擇狀態：
		<select name="itemStatus">
			<option value="">------</option>
			<option value="PS">通過</option>
			<option value="NP">不通過</option>
			<option value="IP">待審查</option>
			<option value="NU">未上傳</option>
		</select>
		<input type="submit">
		</form>
		</ol>		
	</div>
	<form action="" method="POST">{% csrf_token %}
		總審查意見：
		<input type="text" name="the_suggestion" value="{{teaA.0.sSuggestion}}">
		<input type="submit" value="送出學年審查意見">
	</form>
	{% endif %}

	{% if up %}
	<p>檢核時間：上學期</p>
	<div>
		書面資料確認：<br>
		<ol>
		<form method="POST" action="">{% csrf_token %}
		{% for item in items_a %}
		<li>{{item.0}} -> 狀態 : [{{item.1}}]
			<input type="checkbox" name="selectedItem" value="{{item.2}}">
		</li>
		{% endfor %}
		選擇狀態：
		<select name="itemStatus">
			<option value="">------</option>
			<option value="PS">通過</option>
			<option value="NP">不通過</option>
			<option value="IP">待審查</option>
			<option value="NU">未上傳</option>
		</select>
		<input type="submit">
		</form>
		</ol>		
	</div>
	<form action="" method="POST">{% csrf_token %}
		總審查意見：
		<input type="text" name="up_suggestion" value="{{teaA.0.sSuggestion}}">
		<input type="submit" value="送出上學期審查意見">
	</form>
	
	{% endif %}


	{% if down %}
	<p>檢核時間：下學期</p>
	<div>
		書面資料確認：<br>
		<ol>
		<form method="POST" action="">{% csrf_token %}
		{% for item in items_b %}
		<li>{{item.0}} -> 狀態 : [{{item.1}}]
			<input type="checkbox" name="selectedItem" value="{{item.2}}">
		</li>
		{% endfor %}
		選擇狀態：
		<select name="itemStatus">
			<option value="">------</option>
			<option value="PS">通過</option>
			<option value="NP">不通過</option>
			<option value="IP">待審查</option>
			<option value="NU">未上傳</option>
		</select>
		<input type="submit">
		</form>
		</ol>		
	</div>
	<form action="" method="POST">{% csrf_token %}
		總審查意見：
		<input type="text" name="down_suggestion" value="{{teaB.0.sSuggestion}}">
		<input type="submit" value="送出下學期審查意見">
	</form>
	{% endif %}

</div>
<hr>
<div id="file">
	已上傳的檔案：<br>
	<form action="" method="POST">{% csrf_token %}
	<ul>
	{% for file in fileList %}
	<li>
		檔案名稱：
		<a href="{{file.file.url}}">{{file.sName}}</a><br>
		檔案敘述：{{file.sDescription}}<br>
		檔案審查意見：
		<input type="text" name="suggestion" value="{{file.sSuggestion}}">
		<input type="submit" value="送出審查意見">
	</li>
	{% endfor %}		
	</ul>
	</form>

</div>
{% endblock %}